body {
  background-color: #f2eddf;
}

h2 {
  font-family: "Merienda", cursive;
}

.modal-body {
  font-weight: bold;
  font-size: 20px;
  color: #b2481b;
  text-align: center;
  font-family: "Merienda";
}

.shiny-plot.output {
	border-radius: 20px;
	border: 10px;
	background-color: lightcoral;
}

#loadmessage {
  position: fixed;
  bottom: 100px;
  left: 0px;
  width: 100%;
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
  color: #000000;
  background-color: lightblue;
  z-index: 105;
}